# For more information on how to configure a CODEOWNERS file, see
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @lunchbiskit
